/* RESET */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES */
/* GENERAL */
body *{
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 5rem;
    font-weight: 800;
    padding: 4rem 0 3rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 1rem;
}

nav ul li,
footer ul li{
    list-style-type: none;
}

.flex{
    display: flex;
    flex-direction: row;

}

button{
    border: none;
    background-color: #0061ff;
    color: #ffffff;
    font-size: 1rem;
}

.container-big{
    width: 62%;
    margin: 0 auto;
}

.container-small{
    width: 52%;
    margin: 0 auto;
}

img{
    width: 100%;
}

/* HEADER */
nav{
    height: 80px;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

div.nav-left,
div.nav-right{
    align-items: center;
}

.logo{
    width: 145px;
    padding-left: 1rem;;
}

nav li{
    padding-left: 3rem;
}

.btn-inizia{
    padding: 0.35rem 0.7rem;
    margin: 0 1rem;
}

.jumbotron{
    background-color: #b4d0e7;
}

.trigger-container{
    position: relative;
}

.trigger-actions{
    width: 30%;
    font-size: 1.1rem;
    position: relative;
}

.trigger-container-img{
    position: absolute;
    left: 30%
}

.trigger-img{
    width: 840px;
}

/* MAIN */


.btn-partner{
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

.btn-prova{
    background: #ffffff;
    color: #000000;
}

/* FOOTER */
footer{
    background-color: #000000;
    color: #ffffff;
}

footer ul li {
    margin-bottom: 1rem;
}

.footer-top{
    justify-content: space-between;
    padding: 5rem 0;;
}

.footer-bottom{

}

.language-selector{
    margin: 1rem 0 0 ;
    border-top: 1px solid #ffffff;
    color: #999999;
    padding: 3rem 0;
}