/* ----------+----     RESET     ----+---------- */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------+----     STYLES     ----+---------- */
/* GENERAL */
body *{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: #000000;
}

p{
    line-height: 1.6rem;
}

h1{
    font-size: 4.8rem;
    font-weight: 800;
    padding: 4rem 0 3rem;
}

h2{
    font-size: 3rem;
    margin-bottom: 3rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

h4{
    font-size: 1.4rem;
}

ul li{
    list-style-type: none;
}

main ul li{
    font-size: .9rem;
}

.flex{
    display: flex;
    flex-direction: row;
}

button{
    border: none;
    background-color: #0061ff;
    color: #ffffff;
    font-size: 1rem;
}

.container-big{
    width: 62%;
    margin: 0 auto;
}

.container-small{
    width: 50%;
    margin: 0 auto;
}

img{
    width: 100%;
}

hr{
    width: 10%;
    color: #cacaca;
    border-style: solid;
}

/* -----+-----    HEADER    -----+----- */
nav{
    height: 80px;
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

div.nav-left,
div.nav-right{
    align-items: center;
}

.header-logo{
    width: 145px;
    padding-left: 1rem;;
}

nav li{
    padding-left: 3rem;
}

.btn-inizia{
    padding: 0.35rem 0.7rem;
    margin: 0 1rem;
}

.jumbotron{
    background-color: #b4d0e7;
}

.trigger-container{
    position: relative;
}

.trigger-actions{
    width: 30%;
    font-size: 1rem;
    position: relative;
}

.btn-trigger{
    padding: 0.6rem 1rem;
    margin: 1.5rem 0;
}

.trigger-actions i{
    font-size: 4rem;
    padding: 4rem 0 1.5rem;
}

.trigger-container-img{
    position: absolute;
    left: 30%
}

.trigger-img{
    width: 840px;
}

/* -----+-----     MAIN     -----+----- */

#plans{
    padding: 10rem 0 5rem;
}

.plans{
    justify-content: space-between;
    flex-wrap: wrap;
}

.narrow-plan{
    width: calc((100% / 3) - 2rem);
    border: 1px solid #cacaca;
    margin: 3rem 0;
}

.plan-type{
    padding: 0.5rem 0;
    border-bottom: 1px solid #cacaca;
    text-align: center;
}

.plan-description{
    width: 85%;
    margin: 0 auto;
    padding-top: 2rem;
}

div.plan-description h4{
    margin: .50rem 0;
}

#plans p{
    font-size: .9rem;
    margin: .50rem 0;
}

.price{
    font-weight: 700;
}

.price-basis{
    font-weight: 300;
}

#plans ul li{
    padding-bottom: 1rem;
    list-style-position: outside;
}

.plan-size{
    padding: 2rem 0;
    width: 85%;
    margin: 0 auto;
}

.btn-plan-container{
    width: 85%;
    margin: 0 auto;
}

.btn-plan-container a{
    text-decoration: underline;
    color: #0061ff;
    font-weight: 400;
}

.btn-plan{
    width: 100%;
    padding: .5rem 0;
    margin-bottom: 2rem;
}

#plans hr{
    width: 20%;
    margin: 3rem 1.2rem;
}

.more-info{
    width: 85%;
    margin: 0 auto;
}

.more-info p{
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.fa-check{
    color: #0061ff;
}

.wide-plan{
    width: 100%;
    border: 1px solid #cacaca;
}

div.wide-plan div.plan-description{
    width: 70%;
    padding: 1rem 2rem;
    margin-top:0;
}

div.wide-plan div.btn-plan-container{
    width: 30%;
    padding: 2rem;
}

.plan-personalization{
    padding-top: 3rem;
}

/* ----------+---- SECTION > PARTNERS ----+---------- */
#partners{
    padding: 5rem 0;
}


.img-partner{
    width: 60%;
}

.partner-description{
    width: 40%;
    padding-top: 3rem;
    padding-left: 2.7rem;
}

.btn-partner{
    margin-top: 3rem;
    background: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    padding: 0.5rem 1rem;
}

.btn-partner:hover{
    background: #000000;
    color: #ffffff;
}

/* ----------+---- SECTION > OPERATIONS ----+---------- */

.btn-prova{
    background: #ffffff;
    color: #000000;
}

/* ----------+---- SECTION -> DESIGNIT ----+---------- */

.logos-left,
.logos-right,
.designit-content{
    width: calc(100% / 3);
    flex-wrap: wrap;
}

.designit-content{
    background-color: #f5f5f5;
}

.logos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos{
    color: #ffffff;
}

.logos svg{
    width: 60%;

}

.logo-designit{
        background-color: #a2d39b;
    border: solid 1rem #d1e9cd;
}

.logo-asu{
    background-color: #61082b;
}

.logo-uf{
    height:auto;
    background-color: #0093ce;
}

.logo-topps{
    background-color: #ff1c1c;
}

.logo-wbr{
    background-color: #d5001f;
}

.logo-hearst{
    background-color: #b4d0e7;
}

.logo-lp{
    background-color: #0d2481;
}

.logo-cc{
    background-color: #ffd830;
}

/* -----+-----    FOOTER    -----+----- */
footer{
    background-color: #000000;
    color: #ffffff;
}

footer ul li {
    margin-bottom: 1rem;
}

.footer-top{
    justify-content: space-between;
    padding: 5rem 0;;
}

.footer-bottom{

}

.language-selector{
    margin: 1rem 0 0 ;
    color: #999999;
    padding: 3rem 0;
}